*
  position: relative
  margin: 0
  padding: 0
html
  width: 100%
body
  width: 100%
  background: linear-gradient(0,#301A3B,#10030A) no-repeat 
  background-size: 100%
@mixin font($size)
  text-align: center
  font-size: $size
  color: white
  font-weight: bold
  text-shadow:  0 3px 7px #0093FF
@mixin dialogfont($weight,$color,$mt)
  font-family: 'Noto Sans CJK TC','微軟正黑體',Arial, Helvetica, sans-serif
  font-size: 24px
  line-height: 38px
  font-weight: $weight
  color: $color
  margin-top: $mt
  
.wrapper
  width: 100%
  height: 1500px
.moon
  width: 17%
  position: absolute
  left: -2%
  top: 37%
  img
    width: 100%
.title
  transform: scale(.8)
  margin: 60px auto
  font-family: "Yuanti TC",'微軟正黑體',Arial, Helvetica, sans-serif
  +font(79px)
  letter-spacing: 12px
  &:after
    content: 'UI Designer Road Map'
    display: block
    +font(69px)
    font-family: 'Silom','微軟正黑體',Arial, Helvetica, sans-serif
    letter-spacing: 1px
.skill-block
  margin-top: 100px
  margin-left: 7%
  left: -6%
  z-index: 3
.skillbuttonbg
  position: absolute
  width: 70px
  height: 70px
  background: rgba(0, 147, 255, 0.35)
  box-shadow: 0 3px 6px rgba(0, 147, 255, 0.44)
  border-radius: 20px
  box-sizing: border-box
  cursor: pointer
  .skillimg
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%) scale(.3)
    transition: .3s cubic-bezier(0.55, 2.35, 0.71, 0.41)
    &:hover
      transform: translate(-50%,-50%) scale(.4)
  
.data
  display: inline-block
  float: right
  +dialogfont(bold,#505050,40px)
  opacity: 0.71
  &:after
    content: ''
    clear: both
.dialog-block
  width: 50vw
  height: auto
  background: #fff
  border: 10px solid rgba(0, 147, 255, 0.76)
  border-radius: 65px
  padding: 0 80px 36px 90px
  top: 400px
  left: 15%
.dialog-cat
  position: absolute
  background: url('../assets/img_monocat@2x.png') left top no-repeat
  background-size: cover
  width: 200px
  height: 300px
  left: -150px
  top: -70px
.dialog-label
  +dialogfont(bold,#505050,40px)
.dialog-content
  +dialogfont(normal,#7B7B7B,4px)
.footer
  position: absolute
  bottom: 0
  width: 100%
  height: 45vw
  background: url('../assets/img_footer@2x.png') no-repeat
  background-size: 100%
  .footer-cat
    width: 20vw
    position: absolute
    top: 40%
    left: 6%
    img
      width: 100%
  .footer-rocket
    width: 13vw
    position: absolute
    bottom: 0
    right: 15%
    z-index: -1
    img
      width: 100%
  

